.link-to-github {
    position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 200;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-image: url("fstfd.svg");
}

html {
    scroll-behavior: smooth;
  }

.modal-dialog-full-width {
  width: 100% !important;
  
  margin: 0 !important;
  padding: 0 !important;
  max-width:none !important;

}

.modal-content-full-width  {
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
  
}

.modal-header-full-width  {
  
}

.modal-footer-full-width  {
  
}