.link-to-github {
    position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 200;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-image: url("fstfd.svg");
}

html {
    scroll-behavior: smooth;
  }

.modal-dialog-full-width {
  width: 100% !important;
  
  margin: 0 !important;
  padding: 0 !important;
  max-width:none !important;

}

.modal-content-full-width  {
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
  
}

*, *::before, *::after {
	box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.rainbow {
	position: relative;
	z-index: 0;
	border-radius: 10px;
	overflow: hidden;
  padding: 10px;
}
	.rainbow::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #290a4981;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#8000ff, #290a4981), linear-gradient(#8000ff, #290a4981), linear-gradient(#290a4981, #8000ff), linear-gradient(#8000ff, #8000ff);
		animation: rotate 4s linear infinite;
	}
	
	.rainbow::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: #282828;
		border-radius: 5px;
	}
.purple_gradient{
	background-color: #a4508b;
background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

}